.FormPartners {
  text-align: center;

  .form {
    position: relative;
    margin-bottom: 70px;

    .send-partner {
      position: absolute;
      left: 47.5%;
      margin-top: 20px;
    }

  }
}
