.Login{
  
  .nav-item{
    font-size: 20px;
    padding: 10px;
    background-image: radial-gradient(#F1CD00, #FEA400);
    color: white;
    border-radius: 5px;
    &:hover{
      text-decoration: none;
    }
  }
}