.OrderSummaryParticipate {
  .general{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
  }
  .info-general{
    background-color: white;
    margin-bottom: 30px;
  }
  .code-partage {
    background-color: #F9B522;
    color: #f9f9f9;
    text-align: center;
    font-size : 2em;
    font-weight: bold;
    padding: 1.5% 1.5% 1.5% 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    margin-bottom: 1em;
  }

  .snoopy{
    text-align: center;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      &::before {
        content: "- ";
        color: #F9B522;
      }
    }
  }
}