.AdminMenu {
  height: 100%;
  
  .menu{
    background-color: #e0e0d1;
    box-shadow: 2px 2px 7px #d6d6c2;
    display: flex;
    justify-content: space-around;
    
    
    .sidenav {
      color: rgb(66, 66, 66);
      padding: 1% 2% 1% 2%;

      &:hover {
        background-color: #e0e0d1;
        color: orange;
        text-decoration: none;
      }
      &:active {
        background-color: #e0e0d1;
        color: orange;
      }
    } 
  }
}
