.AdminMenu {
    .row{
    display: flex;
    justify-content: space-between;
    
    .nav-item{
      font-size: 25px;
      padding: 10px;
      margin: 30px;
      background-image: radial-gradient(#F1CD00, #FEA400);
      color: white;
      border-radius: 10px;
      &:hover{
        text-decoration: none;
      }
    }
  }  
}
