.AdminTeam{
  .card{
    width: 300px;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;

    .card-button{
      margin: auto;
    }
    .buttonicone{
      justify-content: center;
    }
  }
}
