.Contact{

h2{
  background-color:#F8F9F9;
  text-align: center;
}
.contact{
  margin-top: 100px;
  margin-bottom: 100px;
}
Form{
  text-align: center;
  width: 60%;
  margin:auto;
  margin-top: 100px;
}

.text-color{
  color:white;
}

.common-section{
  margin-top: 100px;
  text-align: center;
}

}
