.conteneur {
    margin-left : 100px;
    margin-right: 100px;
}

.person {
    text-align : center;
}

.person h1 {
    font-size : 25px;
    margin : 10px;
    font-weight: bold;
}

.equipe img {
    border-radius: 50%;
    width : 50%;
}

.text {
    text-align: justify;
}