@import '../../App.scss';

.Explaination {
  .video-ex {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .para1 {
    text-align: center;
    margin-top: 1%;
    font-size: 2vw;

    .para2 {
      font-size: 3vw;
      color: #ffa300;
    }
  }

  .col {
    position: relative;
    .bouton {
      background-color: white;
      border-radius: 20px;
      width: 100%;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        display: none;
      }

      .icone {
        width: 17%;
        padding-top: 3%;
      }

      .arrow {
        width: 10%;
      }

      .title-ex {
        font-size: 1em;
      }
    }

    .para-details {
      text-align: justify;
      padding: 5% 5%;
    }

    .round {
      color: white;
      width: 50px;
      font-size: 2em;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: 10px;
      background-color: $secondaryColor;
    }
  }
}
