.video {
  height: 450px;
  width: 700px;
}

@media screen and (max-width: 667px) {
  .video {
    height: 250px;
    width: 350px;
  }
}

@media (min-width:667px) and (max-width: 767px) {
  .video {
  height: 250px;
  width: 450px;
  }
}