@import '../../App.scss';

.Explaination { 
  padding-top: 5%;
  
    .round {
      color: whitesmoke;
      width: 50px;
      font-size: 2em;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: -20px;
      left: -20px;
      background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
      z-index: 1;
    }

  .card {
    margin: 7%;
    border: none; 
    
    .cardImg {

    }
  }
}
