.HomeParticipe {
  background-color: #F9B522;


  .form-participate {
    height: 150px;
    display: flex;
    align-items: center;
  }

  .title-participate {
    color: #f9f9f9;
    flex-basis: 45%;
  }

  Input {
    margin: 0 40px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  }

    .btn-participate{
      background-color: #f9f9f9;
      color: #F9B522;
      flex-basis: 30%;
      border: none;
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);

      &:hover {
        background-color: #F9B522;
        color: #f9f9f9;
        border: 1px solid #f9f9f9;
      }
    }
  
  }