.MediaMobApp {
  background-color: #f9f9f9;

  .video-ex {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .logo {
    width: 250px;
    margin: 20px;
  }

  .link-app {
    text-align: center;
  }
}