.Restaurants {

  .padding {
    padding-left : 0px;
  }
  .search1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 18vw;
    margin-left: 50px;
  }

  .search2 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 15vw;
  }

  .submit-button {
    margin-top: 3em;
  }

  .card-restaurant {
    width: 250px;
    margin: 10px;
    height: 300px;
  }
}