.Restaurant {

  .padding {
    padding-left : 0px;
  }
  Input {
    font-size: 15px;
  }
  .search1 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .search2 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
  }

  .cardrestaurant {
    width: 200px;
    margin: 10px;
  }
}