.searchBar {

  .padding {
    padding-left : 0px;
  }
  .search1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 16vw;
    margin-left: 35px;
  }
  
  .search2 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 13vw;
    margin-left: 75px;
  }
  
  .submit-button {
    margin-top: 3.1em;
    margin-left: 70px;

  }
}

