.Participate {
  position:relative;
  background-image: url("/medias/Participate-cheers.jpeg");
  background-position: center;
  background: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .fog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    background-size: cover;
  }

  .participate-message {
    position: relative;
    text-align: center;
    font-size : 2em;
    font-weight: bold;
    padding: 1.5% 1.5% 1.5% 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    margin-bottom: 1em;
    color: white;
  }

  .form-participate {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    Input {
      width: 300px;
      margin-right: 20px;
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4)
    }

    Button {
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4)
    }
  }
}