$primaryColor: #f1c40f;
$secondaryColor: #ffa300;
$accentuationColor: #f9b522;

.App{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  .content{
    min-height: calc(100vh - 140px);
  }
  .title {
    background-color: #f9f9f9;
    color: #F9B522;
    text-align: center;
    font-size : 2em;
    font-weight: bold;
    padding: 1.5% 1.5% 1.5% 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;  
    margin-bottom: 1em;
  }
  .all-btn{
    color: white;
    font-weight: 500;
    background-color: #ffc107;
    border-color: #ffc107;
    &:hover{
      background-color: #e0a800;
      border-color: #d39e00;
    }
  }
  .underline {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2em;
  }
}

