.Footer {
  background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    list-style-type: none;
  }
  .first-col {
    display: flex;
  }
}
