.Footer {
  background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;

  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  li {
    list-style-type: none;
  }
}
