.Footer {
  background-color: #ffa300;
  padding-top: 2em;
  padding-bottom: 2em;

  a {
    text-decoration: none;
    color: #f9f9f9;
    &:hover {
      text-decoration: none;
    }
  }
  li {
    list-style-type: none;
  }
  .fb{
    margin-right:1em;
    padding: 15px;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    color: #f9f9f9;
    &:hover{
      transform: scale(1.4);
      -moz-transform: scale(1.4);
      -o-transform: scale(1.4);
      color: #3B5998; 
    }
  }
  .insta{
    margin-right:1em;
    padding: 15px;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    color: #f9f9f9; 
    &:hover{
      transform: scale(1.4);
      -moz-transform: scale(1.4);
      -o-transform: scale(1.4);
      color: #D9317A; 
    }
  }

  @media screen and (max-width: 667px) {
    .foot{
      flex-direction: column;
      text-align: center;
    }

    .footer{
      margin-left: 5%;
    }
  }
}
