.nav-bar {
  .navbar-div {
    background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
    .navbar-logo {
      height: 38px;
    }

    .drop {
      background-color: #ffa300;
      cursor: pointer;
    }
    
    a {
      color: white;
      padding: 0.07rem 0.5rem 0.5rem 0.5rem;
      margin-right:1em;
      &:hover {
        text-decoration: none;
        color: #f2f2f2;
      }
    }
   .dropdown-toggle:hover {
     cursor: pointer;
     &:hover {
      text-decoration: none;
      color: #f2f2f2;
    }
   }
  }
}
