.MapResult {

  .number-meals {
    font-size: 1rem;
  }
  .type-meal {
    text-decoration: underline;
  }
  .menu {
    padding: 1.25rem;
  }
  .menu-card {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    position: relative;
    top: -1.25rem;
    
  } 
  
}
@media only screen and (max-width: 992px) {
  .MapResult {

    .number-meals {
      font-size: 1rem;
    }
    .type-meal {
      text-decoration: underline;
    }
    .menu {
      padding: 1.25rem;
    }
    .menu-card {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-bottom: 1.25rem;
      position: relative;
      top: -1.25rem;
    }
  }
}

