.MapResult {
  position: fixed;
  margin-top: 6em;
  .number-meals {
    font-size: 1rem;
  }
  .type-meal {
    text-decoration: underline;
  }
  .menu {
    padding: 1.25rem;
  }
  .menu-card {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    position: relative;
    top: -1.25rem;
  }

  @media (min-width: 768px) {
  
    .MapResult {
      position: static;
    }
    
  }

  @media (min-width: 1025px) {
  
    .MapResult {
    }
    
  }
  

}



