.nav-link{
color: white;
}
.nav-link:hover{
color:whitesmoke;
}
.container{
margin: auto;
}
.footer{
  background-image: linear-gradient(to bottom right, #F1C40F, #FFA300);
}
.card{
background-color: transparent!important;
border: none;
}
.row{
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  padding-left: 5%;
}
.image{
  width: 75%;
  padding-bottom: 5%; 
}
.logoF{
display: flex;
justify-content: center;
}
@media all and (max-width: 800px)
{
  .image
  {
      display: none;
  }
}
.socials {
  padding: 25px;
  bottom: 0;
  position: static;
  width: 100%;
  }
  
  .socials a {
  color: rgb(255, 255, 255);
  }
  
  .socials .social:hover {
  transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  }
  
  .socials .social {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  }
  
  .socials #social-fb:hover {
  color: #3B5998;
  }
  
  .socials #social-tw:hover {
  color: #4099FF;
  }
  
  .socials #social-gp:hover {
  color: #D34836;
  }
  
  .socials #social-em:hover {
  color:rgb(254, 208, 25);
  }
  .socials #social-fb {
  padding: 15px;
  }
  
  .socials #social-tw {
  padding: 15px;
  }
  
  .socials #social-gp {
  padding: 15px;
  }
  
  .socials #social-em {
  padding: 15px;
  }