.nav-bar {
  .navbar-logo {
    height: 38px;
  }

  .navbar-div {
    background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
  }

  .nav-dropdown {
    background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
  }

  .je-participe {
    list-style-type: none;
  }

  .navbar-dark .navbar-nav .nav-link{
    color: white;
  }

  .dropdown-item:hover {
    background-color: transparent;
    cursor: pointer;
  }
}
