.nav-bar {
  .navbar-div {
    background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
    .navbar-logo {
      height: 38px;
    }

    .nav-dropdown {
      background-image: linear-gradient(to bottom right, #f1c40f, #ffa300);
    }

    .join {
      list-style-type: none;
      a {
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
    }
    a {
      color: white;
      padding: 0.1rem 0.5rem 0.5rem 0.5rem;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
    .dropdown-item:hover {
      background-color: transparent;
      cursor: pointer;
    }
  }
}
