.Concept {

  .box img {
    width: 80%;
  }

  .logo {
    width: 300px;
    margin: 20px;
  }
  .logo-sm {

    margin: 20px;
  }

  .link-app {
    text-align: center;
  }

  iframe {
    width: 625px;
    height: 400px;
  }
}