.Contacts {
  .contact {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .form {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 5%;
  }

  .text-color {
    color: white;
  }

  .common-section {
    margin-top: 5%;
    text-align: center;
  }
  .logo {
    width: 300px;
    margin: 20px;
  }
  .actu {
    text-align: center;
    margin: 50px;
  }
  .logo-sm {
    margin: 20px;
  }
}
