.Restaurant {
  
  text-align: center;

  .form {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }
  
  .form-title {
    text-align: center;
    padding: 2% 2% 0.5% 2%;
  }
  
  .form-div {
    margin: 2%;
  }
  
}

